@font-face {
  font-family: "mulish-bold";
  src:url('../style/mulish/static/Mulish-Bold.ttf');
}
@font-face {
  font-family: "mulish-extra-bold";
  src:url('../style/mulish/static/Mulish-ExtraBold.ttf');
}
@font-face {
  font-family: "mulish-medium";
  src:url('../style/mulish/static/Mulish-Medium.ttf');
}
@font-face {
  font-family: "mulish-regular";
  src:url('../style/mulish/static/Mulish-Regular.ttf');
}
@font-face {
  font-family: "mulish-light";
  src:url('../style/mulish/static/Mulish-Light.ttf');
}
@font-face {
  font-family: "mulish-extra-light";
  src:url('../style/mulish/static/Mulish-ExtraLight.ttf');
}
@font-face {
  font-family: "mulish-medium-italic";
  src:url('../style/mulish/static/Mulish-MediumItalic.ttf');
}


:root {
  --yellow: #ffc305 ; 
  --orange: rgb(239, 58, 17); 
  --pink: rgb(199, 0, 57);
  --purple:  rgb(113, 24, 64);
  --green: #3eae34;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONTS  */

div h2 {
  font-family: "mulish-medium";
  font-size: 60px;
  color: white;
  /* text-shadow: 0 4px 0px rgba(0,0,0,.5); */
  text-align: center;
  padding: 30px;
}

div h3 {
  font-family: "mulish-medium";
  color: white;
}

div h4 {
  font-family: 'mulish-bold';
  color: white;
}

div div h5, div h6 {
  font-family: "mulish-medium";
  color: white;
  margin:0;
}
div p {
  font-size: 18px;
  font-family: "mulish-light";
  color: #fff;
  list-style:none;
  text-align: center;
}


/* HEADER */

#progress-container {
  height: "4px";
  width: "100%";
  background-color: "transparent";
  position: "fixed";
  top: "0";
  left: "0";
  right: "0";
}

.progress-fill {
  height: "100%";
  background-color: var(--yellow);
}

.name-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
.name-header h4{
  font-family: 'mulish-extra-light';
}
.active a{
  font-family: 'mulish-extra-bold';
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  height: 60px;
  position: fixed;
  background-color:rgba(199, 0, 57, 0.6);
  width: 100%;
  z-index: 10;

}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
  text-align: center;

}

nav li a {
  font-family: 'mulish-extra-light';
  font-size: 17px;
  color: white;
  text-decoration: none;
  display: block;
  width:120px;
}

nav li a:hover {
  font-family: 'mulish-bold';
  color: white;
  text-decoration: none;
  width:120px;
}

/* HOME */
.home-section {
  background: linear-gradient(to bottom, var(--pink) 20%, var(--orange));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-cv button {
  font-family: 'mulish-light';
  background: var(--yellow);
  color: var(--pink);
  padding: 0.5rem;
  cursor: pointer;
  font-size: 15px;
  border-radius: 3px ;
  border: none;
  
}
.download-cv button:hover {
  font-family: 'mulish-extra-light';
  background: var(--green);
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  font-size: px;
  border-radius: 3px ;
  border: none;
}
  /* box-shadow: 0 3px 0px rgba(0,0,0,.5) */

.home-container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.home-container .texto{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-container h1 {
  color: white;
  font-family: "mulish-light";
  font-size: 60px;
}

.home-container .carolina {
  font-size: 70px;
  font-family: "mulish-bold";
}
.home-container .sandoval {
  color: var(--yellow);
}

.home-section img {
  position: absolute;
  width: 300px;
  height:300px;
  border-radius: 100%;
  z-index: 9;
}

.sun-lottie {
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-home {
  border: 2px solid var(--yellow) ;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  z-index: 9;
}
 
.c2 {
  position: absolute;
  float: left;
}

/* ABOUT ME */
.about-me-section {
  height: 100vh;
  background-color: var(--orange);
  /* background: linear-gradient(to bottom, var(--orange) 90%, var(--pink)); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-text-abt {
  display: flex;
  flex-direction: row;
}

.aboutme-container {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
}

.aboutme-container p {
  text-align: left;
  border-radius: 5px;
  padding: 1rem;
}

.text-about-me {
  background-color:#ff4f3f;
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  width: 60%;

}

.text-about-me h2{
  padding:0;
}

.aboutme-profile {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.profile-photo {
  width: 200px; 
  height: 200px; 
  margin: 20px;
  overflow: hidden; 
  border-radius: 50%; 
}

/* PORTFOLIO */
  .icon-portfolio {
    font-size: 60px;
    margin: 0 20px 0 20px;
  }
  .icon-portfolio-3 {
    font-size: 50px;
    margin: 0 20px 0 20px;
  }
.portfolio-btn {
  font-family: 'mulish-regular';
  font-size: 15px;
  max-width: 100%;
  background:var(--yellow) ;
  color: var(--pink);
  padding: 8px;
  margin: 2px;
  cursor: pointer;
  font-size: px;
  border-radius: 3px ;
  border: none;
}
.portfolio-btn:hover {
  font-family: 'mulish-light';
  font-size: 15px;
  max-width: 100%;
  background:var(--green) ;
  color: white;
  cursor: pointer;
  font-size: px;
  border-radius: 3px ;
  border: none;
}

.projects-section {
  height: auto;
  background-color: var(--pink);
  /* background: linear-gradient(to bottom, var(--pink) 90%, var(--purple)); */
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding: 5% 0 5% 0;
}

.portfolio-container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  overflow: hidden;
  display:inline-block;
  width: 90%;
}

.project {
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 2% 0 2% 0;
}

.projects-section img {
  max-width: 550px;
  width: 100%;
  height: 50%;
  border-radius: 5px;
  opacity: 1;
}

.both-title-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 412.5px;
  padding: 2% 2% 2% 2%;
  background-color: rgb(214, 45, 93);
  border-radius: 5px;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.right {
  margin-right: 10px;
  text-align: right;
  display: flex;
  align-items: flex-end;
}

.left {
  margin-left: 10px;
  text-align: left;
  display: flex;
  align-items: flex-start;
}
.right-p {
  text-align: right;
}

.left-p {
  text-align: left;
}


/* CONTACT */

.contact-section {
  padding: 2rem 0 2rem;
  height: auto;
  background: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 500px;
  padding: 20px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  display: inline-block;
  font-family: 'mulish-medium';
}
.form .name {
  text-transform: capitalize;
}
.form .correo {
  text-transform: lowercase;
}


input::placeholder,
textarea::placeholder {
  font-family: 'mulish-medium';
}

.form input[type= "text"],
.form input[type= "email"],
.form textarea{
  width: 100%;
  font-family: 'mulish-medium';
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #CECECE;
  font-size: 16px;
}

.form textarea {
  min-height: 120px;
  max-height: 300px;
}

.form input[type= "text"]:focus,
.form input[type= "email"]:focus,
.form textarea:focus{
  border: 2px solid #4fb560;
  outline: none; /* Es para que el borde no sea negro por default y agarre el color especificado, en este caso verde*/
}

/* focus es para cuando sueltas el click en un elemento */

.form input[type = "submit"] {
  font-family: 'mulish-medium';
  width: 200px;
  background: var(--pink);
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 3px;
  border: none;
}

.form input[type = "submit"]:hover {
  background-color: var(--green);
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* LINKS */

.links-section {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-text-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;


}

.vector{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden
}

.vectors-space {
  width: 1000px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.v-linkedin {
  background-color: #245fc6c0;
}

.v-whatsapp {
  background-color: #45c839c8;
}
.v-gmail {
  background-color: #b6115bc5;
}
.v-github{
  background-color: #6e5494b6;
} 

/* Resume */
.resume-section {
  height: 100vh;
  background-color: var(--purple);
  /* background: linear-gradient(to bottom, var(--purple) 90%, var(--pink)); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume-container {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons-container {
  width: 80%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.i-text {
  font-size: 20px;
}

.icon {
  text-align: center;
  font-size: 80px;
  width: 150px;
  margin: 1rem;
}

.certificate-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 200px;
}
.certificate-container h3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.resume-certificate {
  padding: 20px;
  margin: 10px;
  width: 40%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--pink);
}

.resume-section  p {
  font-size: 18px;
  font-family: "mulish-light";
  color: #fff;
  list-style:none;
}

.resume-section button {
  font-family: 'mulish-medium';
  max-width: 100%;
  background: #c70039;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 3px;
  box-shadow: 0 4px 0px rgba(0,0,0,.5);
  border: none;
}

/* FOOTER */
footer {
  background-color: var(--purple);
  width: 100%;
  padding: 20px;
}

footer p{
  margin: 0;
  font-size: small;
  color: white;
}


/* RESPONSIVE WEBSITE */

@media screen and (max-width:1200px){
  
/* HOME */
  .home-container {
    padding: 60% 0 30% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-container .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sun-lottie {
    width: 300px;
    height: 300px;
  }

  /* ABOUT ME */
  .about-me-section {
    height: auto;
    padding: 10% 0 10% 0;
  }

  .about-me-section h2 {
    padding: 0;
  }

  .aboutme-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .aboutme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .text-about-me {
    width: 100%;
  }

  /* RESUME */
  .resume-section{
  padding: 15% 0 15% 0;
  height: auto;
  }

  .resume-section {
    padding: 0 20px 0 20px;
  }

  .icon {
    text-align: center;
    font-size: 60px;
    width: 100px;
    margin: 1rem;
  }
}

/* CONTACT  */
@media screen and (max-width:1000px){
.contact-section {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 350px;
  margin-right: 0;
}
.form input[type= "text"],
.form input[type= "email"],
.form textarea{
  width: 100%;
  font-family: 'mulish-medium';
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #CECECE;
  font-family: arial;
  font-size: 16px;
  height: 20px;
}
}


@media screen and (max-width:1200px) {

  /* PORTFOLIO */
  .portfolio-container {
    display: block;
  }

  .home-container .carolina {
    text-align: center;
  }

  .right-p {
    text-align: center;
  }

  .left-p {
    text-align: center;
  }
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 2rem 0;
  }

  .both-title-description {
    text-align: center;
    height: auto;
    width: auto;
    padding-top: 2rem;
  }

  .right {
    display: flex;
    align-items: center;
    margin:0;
  }

  .left {
    display: flex;
    align-items: center;
    margin:0;
  }

}

@media screen and (max-width: 750px) {
  .icon-portfolio {
    font-size: 40px;
    margin: 0 10px 0 10px;
  }
  .icon-portfolio-3 {
    font-size: 30px;
    margin: 0 10px 0 10px;
  }
  .portfolio-btn {
    margin-top: 20px;
  }
  .resume-section {
    height: 900px;
  }

  .sun-lottie {
  width: 350px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .icons-container {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
  .icon {
  text-align: center;
  font-size: 40px;
  width: 150px;
  margin: 0.5rem;
  }
    div h1 {
    font-size: 45px;
    text-align: center;
  }
  div h2 {
    font-size:35px;
  }
  div p {
    font-size:15px;
  }
    nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  nav ul li a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    width: 80px;
  }
  nav ul li a:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80px;
  }

  .name-header {
    display: none;
  }
  .home-container .carolina {
  font-size: 40px;
  font-family: "mulish-bold";
  }
  .home-container h1 {
  color: white;
  font-family: "mulish-light";
  font-size: 30px;
}
  .project img {
    width: 90%;
    margin-top: 0.5rem;
  }
  .both-title-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 500px;
  padding: 20px;
  background-color: rgb(214, 45, 93);
  border-radius: 5px;
}

}